body {
  min-width: 360px;
  overflow-x: hidden;
}
.clearfix {
  clear:both;
}
.logo-container {
  text-align: center;
}

.options-container {
  width:100%;
}

.options-container ul.options {
  width:100%; 
}

.options-container ul.options li.option {
  float:left;
  width:41%;
  margin: 3%;
}

.options-container ul.options li.option p{
  margin-bottom: 0px;
  text-align: center;
  padding-left:5px;
}

.options-container ul.options li.option input{
  padding:5px;
  height:20px;
  width:100%;
  text-align: center;
}

.options-container ul.options li.option select{
  padding:5px;
  height:34px;
  width:110%;
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
}


/* Dress Thumbnails */
ul#dress-thumbs li {
  margin:2px;
  float:left;
  cursor: pointer;
}

ul#dress-thumbs li img {
  max-height: 100px;    
}

/* Fullsize dresses */
ul#dresses {
  width: 100%;
}


ul#dresses li {
  margin:2px;
  float:left;
  width: 100%;
  cursor: pointer;
}

ul#dresses li img {
  width:100%;
}



img.open-wdw {
  width:219px;
  height:124px;
  cursor: pointer;
}

.dress .order {
  background-color:black;
  color: white;
  text-align: center;
  padding:10px;
  margin-top:-5px;
  font-size: 120%;
}

#dresses .dress .order {
  padding: 20px 10px;
  font-size: 160%;
}